<!doctype html>
<html lang="de">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Willkommen beim IUBH-Quiz</title>
        {% endif %}

        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                <a class="navbar-brand" href="{{ url_for('index') }}"><img height="28" alt="Logo" src={{ url_for('static', filename='/img/brand.png') }} /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                             <li class="nav-item active"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                             <li class="nav-item"><a class="nav-link" href="{{ url_for('play') }}">Spielen</a></li>
                             <li class="nav-item"><a class="nav-link" href="{{ url_for('questions') }}">Fragen</a></li>
                             <li class="nav-item"><a class="nav-link" href="{{ url_for('highscore') }}">Rangliste</a></li>
                        </ul>
                        <ul class="navbar-nav navbar-right">
                            {% if current_user.is_anonymous %}
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Anmelden</a></li>
                            {% else %}
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">Profil</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Abmelden</a></li>
                            {% endif %}
                        </ul>
                    </div>
            </nav>
        {% endblock %}

        {% block content %}
            <div class="container">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% endwith %}

                {% block app_content %} {% endblock %}
            </div>
        {% endblock %}

        {% block scripts %}
            {{ bootstrap.load_js() }}
            {{ moment.include_moment() }}
            {{ moment.locale("de") }}
        {% endblock %}
    </body>
</html>
