{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block app_content %}
    <h1 class="text-center">Rangliste</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Platz</th>
          <th scope="col">Benutzername</th>
          <th scope="col">Fragenanzahl</th>
          <th scope="col">Richtige Fragen</th>
        </tr>
      </thead>
      <tbody>
          {% for u in user %}
            <tr>
              <th scope="row">{{ user.index(u) + 1 }}</th>
              <td>{{ u.username }}</td>
              <td>{{ u.number_of_questions }}</td>
              <td>{{ u.score }}</td>
            </tr>
          {% endfor %}
      </tbody>
    </table>

{% endblock %}