{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block app_content %}
    <h1 class="text-center">Fragen</h1>
    <div class="form-group">
        <select class="form-control" name="Modulauswahl" style="width: 42%">
            <option>Wähle einen Kurs aus!</option>
            <option>Grundlagen der industriellen Softwaretechnik (IGIS01)</option>
            <option>Mathematik Grundlagen I (IMT101)</option>
            <option>Grundlagen der objektorientierten Programmierung mit Java (IOBP01)</option>
            <option>Computertraining (BCTR)</option>
            <option>Betriebswirtschaftslehre (BBWL-01)</option>
            <option>Einführung in das wissenschaftliche Arbeiten (DLBWIR-01)</option>
         </select>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.render_form(form) }}
        </div>
    </div>

{% endblock %}