{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block app_content %}
    <h1 class="text-center">Fragen</h1>
     <div class="dropdown">
      <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Wähle einen Kurs aus!
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Grundlagen der industriellen Softwaretechnik (IGIS01)</a></li>
        <li><a href="#">Mathematik Grundlagen I (IMT101)</a></li>
        <li><a href="#">Grundlagen der objektorientierten Programmierung mit Java (IOBP01)</a></li>
        <li><a href="#">Computertraining (BCTR)</a></li>
        <li><a href="#">Betriebswirtschaftslehre (BBWL-01)</a></li>
        <li><a href="#">Einführung in das wissenschaftliche Arbeiten (DLBWIR-01)</a></li>
      </ul>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.render_form(form) }}
        </div>
    </div>

{% endblock %}